  <nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#" class="brand-logo center show-on-med-and-down">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
      <ul id="nav-mobile" class="left show-on-med-and-down">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>